Django==1.5.4
Mako
PAM
Pillow
distribute
dj-database-url
dj-static
django-facebook==5.2.10
django-guardian
django-jfu
django-multiuploader
django-toolbelt==0.0.1
django-userena
easy-thumbnails==1.5
gunicorn==18.0
hsaudiotag
psycopg2==2.5.2
pycurl
pyechonest==8.0.1
pystache
python-echoprint
simplejson
six
sorl-thumbnail
static==1.0.2
wsgiref==0.1.2
