{% extends 'userena/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}<div class="container"><h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2></div>{% endblock %}

{% block content %}
<div class="container">
<div class="hero-unit">
<form action="" method="post" id="password_change_form">
  <fieldset>
    <legend>{% trans "Change Password" %}</legend>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input type="submit" value="{% trans "Change password" %}" />
</form>
</div>
</div>
{% endblock %}
