{% extends 'userena/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}



{% block content_title %}
<div class="container">
<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>
</div>
{% endblock %}
{% block content %}
<div class="container">
<div class="hero-unit">
<div class="row-fluid">
                {% if profile.facebook_id %}
                <div class="text-center">
                  <img class="img-circle img-responsive text-center" src="http://graph.facebook.com/{{ profile.facebook_id }}/picture?type=large" title="facebook stored image" />
                </div>
                {% else %}
                <div class="text-center">
                  <img class="img-circle img-responsive text-center" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
                </div>
                {% endif %}
</div>
<div class="row-fluid">
    <table class="table table-condensed table-responsive">
                <tr>
                    <td>First Name:</td><td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <td>Last Name:</td><td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <td>Gender:</td><td>{{ profile.gender }}</td>
                </tr>
                <tr>
                    <td>About me:</td><td>{{ profile.about_me }}</td>
                </tr>
                <tr>
                    <td>Facebook profile url:</td><td>{{ profile.facebook_profile_url }}</td>
                </tr>
                <tr>
                    <td>Facebook ID:</td><td>{{ profile.facebook_id }}</td>
                </tr>
                <tr>
                    <td>Date of Birth:</td><td>{{ profile.date_of_birth }}</td>
                </tr>
                <tr>
                    <td>Website Url:</td><td>{{ profile.website_url }}</td>
                </tr>
                <tr>
                    <td>Genres:</td>
                    <td>
                        {% for genre in profile.genre %}
                        <ul>
                           <li> {{ genre }} </li>
                        </ul>
                        {% endfor %}
                    </td>
                </tr>

            </table>
            </div>
  </div>
</div>
{% endblock %}
